# Cleaning code for Building 59 dataset

The .csv files from the dataset are located on the path declared right below.

In [3]:
# Basic imports
import csv
import numpy as np
import pandas as pd
from pandas import Series
import datetime
import time
import os
from fancyimpute import KNN, MatrixFactorization
import math

path = "../data" #Path with raw csv files

This is the code presented on the paper, we are not able to execute it due to RAM problems, so we will try to transform it

In [3]:


def clean_data_from_path(path):
    files = os.listdir(path)
    path_postprocess = path + "_postprocess"

    #read data files and adjust time format
    for filename in files:
        print(path+'/'+filename)
        df = pd.read_csv(path+'/'+filename)
        df['date'] = pd.to_datetime(df['date']) 
        helper=pd.DataFrame({'date': pd.date_range(df['date'].min(), df['date'].max(), freq='15min')})
        df = pd.merge(df, helper, on='date', how='outer').sort_values('date')
        count_out = Series([0],index=['date']) #count of outlier values
        count_gap = Series([0],index=['date']) #count of gap
        count_outgap = Series([0],index=['date']) #count of large gap (e.g., one day)
        gap_max=Series([0],index=['date']) #maximum gap
        #calculate the count of gap and do the interpolation based on the gap size 
        for i in range(1, len(df.columns)):
            k = 0
            out_gapcount=0
            start_index = {}
            starttime = {}
            end_index = {}
            endtime = {}
            gap = {}
            
    
            if pd.isnull(df.iloc[len(df.index)-1,i]) == True or math.isnan(df.iloc[len(df.index)-1,i])==True:
                df.iloc[len(df.index)-1,i]=0
            for j in range(0, len(df.index)):
                if (pd.isnull(df.iloc[j,i]) or math.isnan(df.iloc[j,i]))and pd.isnull(df.iloc[j-1,i]) == False:
                    starttime[k]=df.iloc[j-1,0] #start time of the gap
                    start_index[k]=j-1
                elif (pd.isnull(df.iloc[j-1,i]) or math.isnan(df.iloc[j-1,i])) and pd.isnull(df.iloc[j,i]) == False:
                    endtime[k]=df.iloc[j,0] #end time of the gap
                    end_index[k]=j
                    k=k+1
            if k != 0:
                for m in range(k):
                    starttime_struct=datetime.datetime.strptime(str(starttime[m]), '%Y-%m-%d %H:%M:%S')
                    endtime_struct = datetime.datetime.strptime(str(endtime[m]), '%Y-%m-%d %H:%M:%S')
                    gap[m]=(endtime_struct-starttime_struct).total_seconds()
                    if  gap[m]<= 3600: #linear interpolation if the gap is less than one hour
                        df.iloc[start_index[m]:end_index[m]+1,i]=df.iloc[start_index[m]:end_index[m]+1,i].interpolate(method='linear')
                    elif gap[m] >3600*24:
                        out_gapcount=out_gapcount+1
                maxgap = max(gap.values())/60
                gap_max=gap_max.append(Series(maxgap,index=[df.columns[i]]))
            outcount=np.sum(df.iloc[:, i]<0)/len(df)
            count_out=count_out.append(Series(outcount, index=[df.columns[i]]))
            count_gap= count_gap.append(Series(k, index=[df.columns[i]]))
            count_outgap = count_outgap.append(Series(out_gapcount,index=[df.columns[i]]))
            df_interpolation=np.array(df.iloc[:,1:])
        df_interpolation= KNN(k=3).fit_transform(df_interpolation) #Apply knn algorithm if the gap is larger than one hour
        unfill_large_gaps(df_filled, df)
        if out_gapcount !=0:
            df_interpolation= MatrixFactorization().fit_transform(df_interpolation) #Apply MF algorithm if the gap is larger than one day         
        df.iloc[:,1:]=df_interpolation
        cols_not_null = (len(df)-df.count(axis=0))/len(df)
        data=pd.DataFrame({'missingrate':cols_not_null,'outrate':count_out,'count_outgap':count_outgap,'count_gap':count_gap,'maxgap':gap_max})
        data.to_csv(path_postprocess+'\\'+'parameter_'+filename, sep=',', header=True, index=True)
        df.to_csv(path_postprocess+'\\'+'data_'+filename, sep=',', header=True, index=False)

We have a problem with ele.csv (energy use), because it doesn't follow the same csv format as the other files: it includes an unnamed column without data. We solve this problem with the following code (run only once)

In [1]:
#datos = pd.read_csv(path+ '/ele.csv')
#datos.drop('Unnamed: 6', axis=1, inplace=True)
#datos = datos.set_index('date')
#datos.to_csv(path+ '/ele.csv')

In [19]:
# The same problem appears in zone_temp_sp_h and zone_temp_sp_c (unnamed features, all of which have more than 50% missing data), we will just drop then

datos = pd.read_csv(path+ '/zone_temp_sp_c.csv')
datos = datos.iloc[:,:42]
datos = datos.set_index('date')
datos.to_csv(path+ '/zone_temp_sp_c.csv')

In [20]:
datos = pd.read_csv(path+ '/zone_temp_sp_h.csv')
datos = datos.iloc[:,:42]
datos = datos.set_index('date')
datos.to_csv(path+ '/zone_temp_sp_h.csv')

### Study of null values by column
For a file, we will study the percentage of missing values it includes.

In [13]:
def summary(path, filename):
    print("SUMMARY OF " + filename)
    dataframe = pd.read_csv(path+'/'+filename)
    dataframe=dataframe.set_index('date')
    for i in range(dataframe.shape[1]):
        print(dataframe.columns[i])
        n_miss = dataframe.iloc[:,i].isnull().sum()
        perc = n_miss / dataframe.shape[0] * 100
        print('> %d, Missing: %d (%.1f%%)' % (i, n_miss, perc))

def summary2(dataframe):
    for i in range(dataframe.shape[1]):
        print(dataframe.columns[i])
        n_miss = dataframe.iloc[:,i].isnull().sum()
        perc = n_miss / dataframe.shape[0] * 100
        print('> %d, Missing: %d (%.1f%%)' % (i, n_miss, perc))

In [14]:
summary(path, 'ele.csv')

SUMMARY OF ele.csv
mels_S
> 0, Missing: 38 (0.0%)
lig_S
> 1, Missing: 34 (0.0%)
mels_N
> 2, Missing: 24 (0.0%)
hvac_N
> 3, Missing: 1542 (1.5%)
hvac_S
> 4, Missing: 1542 (1.5%)

## Interpolation depending on the size of the gap:

- If it's smaller than 1h, we use linear interpolation
- If it's bigger than 1 day, we use KNN with n=3

Interpolation with KNN: 

https://machinelearningmastery.com/knn-imputation-for-missing-values-in-machine-learning/

In [15]:
from sklearn.impute import KNNImputer
files = os.listdir(path)
path_postprocess = path + "_postprocess"
#in the cleaning code we insert the rows that are apparently missing

freqs = {'zone_co2.csv':'1min', 'ele.csv': '15min', 'zone_temp_sp_c.csv':'5min', 'occ.csv':'1min', 'zone_temp_exterior.csv':'1min', 'zone_temp_sp_h.csv':'5min', 'site_weather.csv':'15min', 'wifi.csv': '10min', 'zone_temp_interior.csv':'10min'}

In [16]:
def unfill_large_gaps(df_filled, df):
    
    for i in range(1, len(df.columns)):
        k=0
        start_index = {}
        starttime = {}
        end_index = {}
        endtime = {}
        gap={}
        for j in range(0, len(df.index)):
            if pd.isnull(df.iloc[j,i]) and pd.isnull(df.iloc[j-1,i]) == False:
                starttime[k]=df.iloc[j-1,0]
                start_index[k]=j-1
            elif pd.isnull(df.iloc[j-1,i]) and pd.isnull(df.iloc[j,i]) == False:
                endtime[k]=df.iloc[j,0]
                end_index[k]=j
                k=k+1
        for m in range(k):
            starttime_struct=datetime.datetime.strptime(str(starttime[m]), '%Y-%m-%d %H:%M:%S')
            endtime_struct = datetime.datetime.strptime(str(endtime[m]), '%Y-%m-%d %H:%M:%S')
            gap[m]=(endtime_struct-starttime_struct).total_seconds()
            if  gap[m]>= 3600*24:
                df_filled.iloc[start_index[m]:end_index[m]+1,i-1]= None

In [17]:

def get_csv(path, filename, freq):
    print(path+'/'+filename)
    path_postprocess = path+"_postprocess"+'/'+filename[:-4]+ "_postprocess.csv"
    df = pd.read_csv(path+'/'+filename)
    df['date'] = pd.to_datetime(df['date']) 
    helper=pd.DataFrame({'date': pd.date_range(df['date'].min(), df['date'].max(), freq=freq)})
    df = pd.merge(df, helper, on='date', how='outer').sort_values('date')
    count_out = Series([0],index=['date']) #count of outlier values
    count_gap = Series([0],index=['date']) #count of gap
    count_outgap = Series([0],index=['date']) #count of large gap (e.g., one day)
    gap_max=Series([0],index=['date']) #maximum gap
    out_gapcount=0
    summary2(df)
    #calculate the count of gap and do the interpolation based on the gap size 
    for i in range(1, len(df.columns)):
        print("Estamos en: ", i)
        k = 0
        
        start_index = {}
        starttime = {}
        end_index = {}
        endtime = {}
        gap = {}
        if pd.isnull(df.iloc[len(df.index)-1,i]) == True or math.isnan(df.iloc[len(df.index)-1,i])==True:
            df.iloc[len(df.index)-1,i]=0
        for j in range(0, len(df.index)):
            if (pd.isnull(df.iloc[j,i]) or math.isnan(df.iloc[j,i]))and pd.isnull(df.iloc[j-1,i]) == False:
                starttime[k]=df.iloc[j-1,0] #start time of the gap
                start_index[k]=j-1
            elif (pd.isnull(df.iloc[j-1,i]) or math.isnan(df.iloc[j-1,i])) and pd.isnull(df.iloc[j,i]) == False:
                endtime[k]=df.iloc[j,0] #end time of the gap
                end_index[k]=j
                k=k+1
        if k != 0:
            for m in range(k):
                starttime_struct=datetime.datetime.strptime(str(starttime[m]), '%Y-%m-%d %H:%M:%S')
                endtime_struct = datetime.datetime.strptime(str(endtime[m]), '%Y-%m-%d %H:%M:%S')
                gap[m]=(endtime_struct-starttime_struct).total_seconds()
                if  gap[m]<= 3600: #linear interpolation if the gap is less than one hour
                    print("Interpolation linear")
                    df.iloc[start_index[m]:end_index[m]+1,i]=df.iloc[start_index[m]:end_index[m]+1,i].interpolate(method='linear')
                elif gap[m] >3600*24:
                    out_gapcount=out_gapcount+1
            maxgap = max(gap.values())/60
            gap_max=gap_max.append(Series(maxgap,index=[df.columns[i]]))
        outcount=np.sum(df.iloc[:, i]<0)/len(df)
        count_out=count_out.append(Series(outcount, index=[df.columns[i]]))
        count_gap= count_gap.append(Series(k, index=[df.columns[i]]))
        count_outgap = count_outgap.append(Series(out_gapcount,index=[df.columns[i]]))
    #Interpolate whole dataframe with KNN
    df_interpolated = df.iloc[:,1:]
    imputer = KNNImputer(n_neighbors=3, weights='distance', metric='nan_euclidean')
    imputer.fit(df_interpolated)
    df_interpolated = pd.DataFrame(imputer.transform(df_interpolated), columns=df_interpolated.columns)

    
    #Export into csv
    print("New summary(final): ")
    summary2(df_interpolated)
    df.iloc[:,1:] = df_interpolated
    df.to_csv(path_postprocess, sep=',', header=True, index=False)

    #Final set of information
    cols_not_null = (len(df)-df.count(axis=0))/len(df)
    data=pd.DataFrame({'missingrate':cols_not_null,'outrate':count_out,'count_outgap':count_outgap,'count_gap':count_gap,'maxgap':gap_max})
    return data

In [21]:
files = os.listdir(path)
path_postprocess = path + "_postprocess"

get_csv(path, 'zone_temp_sp_c.csv', '5min')

../data/zone_temp_sp_c.csv
date
> 0, Missing: 0 (0.0%)
Unnamed: 0
> 1, Missing: 6001 (2.5%)
zone_016_cooling_sp
> 2, Missing: 6502 (2.7%)
zone_017_cooling_sp
> 3, Missing: 6500 (2.7%)
zone_018_cooling_sp
> 4, Missing: 6500 (2.7%)
zone_019_cooling_sp
> 5, Missing: 7217 (3.0%)
zone_021_cooling_sp
> 6, Missing: 6424 (2.6%)
zone_023_cooling_sp
> 7, Missing: 6805 (2.8%)
zone_024_cooling_sp
> 8, Missing: 6871 (2.8%)
zone_025_cooling_sp
> 9, Missing: 6874 (2.8%)
zone_026_cooling_sp
> 10, Missing: 6469 (2.7%)
zone_027_cooling_sp
> 11, Missing: 6972 (2.9%)
zone_030_cooling_sp
> 12, Missing: 6943 (2.9%)
zone_032_cooling_sp
> 13, Missing: 6977 (2.9%)
zone_035_cooling_sp
> 14, Missing: 6434 (2.6%)
zone_036_cooling_sp
> 15, Missing: 6500 (2.7%)
zone_037_cooling_sp
> 16, Missing: 6500 (2.7%)
zone_038_cooling_sp
> 17, Missing: 7108 (2.9%)
zone_039_cooling_sp
> 18, Missing: 7109 (2.9%)
zone_041_cooling_sp
> 19, Missing: 6002 (2.5%)
zone_042_cooling_sp
> 20, Missing: 6502 (2.7%)
zone_043_cooling_sp
> 21, Missing: 6503 (2.7%)
zone_046_cooling_sp
> 22, Missing: 6817 (2.8%)
zone_047_cooling_sp
> 23, Missing: 6789 (2.8%)
zone_048_cooling_sp
> 24, Missing: 6789 (2.8%)
zone_049_cooling_sp
> 25, Missing: 7137 (2.9%)
zone_051_cooling_sp
> 26, Missing: 6289 (2.6%)
zone_053_cooling_sp
> 27, Missing: 6957 (2.9%)
zone_054_cooling_sp
> 28, Missing: 6505 (2.7%)
zone_055_cooling_sp
> 29, Missing: 7287 (3.0%)
zone_056_cooling_sp
> 30, Missing: 7285 (3.0%)
zone_057_cooling_sp
> 31, Missing: 7287 (3.0%)
zone_059_cooling_sp
> 32, Missing: 7293 (3.0%)
zone_061_cooling_sp
> 33, Missing: 7592 (3.1%)
zone_062_cooling_sp
> 34, Missing: 6001 (2.5%)
zone_063_cooling_sp
> 35, Missing: 6723 (2.8%)
zone_064_cooling_sp
> 36, Missing: 6787 (2.8%)
zone_065_cooling_sp
> 37, Missing: 6435 (2.6%)
zone_066_cooling_sp
> 38, Missing: 7218 (3.0%)
zone_067_cooling_sp
> 39, Missing: 7217 (3.0%)
zone_069_cooling_sp
> 40, Missing: 6858 (2.8%)
zone_070_cooling_sp
> 41, Missing: 58575 (24.1%)
Estamos en:  1
Estamos en:  2
Estamos en:  3
Estamos en:  4
Estamos en:  5
Estamos en:  6
Estamos en:  7
Estamos en:  8
Estamos en:  9
Estamos en:  10
Estamos en:  11
Estamos en:  12
Estamos en:  13
Estamos en:  14
Estamos en:  15
Estamos en:  16
Estamos en:  17
Estamos en:  18
Estamos en:  19
Estamos en:  20
Estamos en:  21
Estamos en:  22
Estamos en:  23
Estamos en:  24
Estamos en:  25
Estamos en:  26
Estamos en:  27
Estamos en:  28
Estamos en:  29
Estamos en:  30
Estamos en:  31
Estamos en:  32
Estamos en:  33
Estamos en:  34
Estamos en:  35
Estamos en:  36
Estamos en:  37
Estamos en:  38
Estamos en:  39
Estamos en:  40
Estamos en:  41
New summary(final):
Unnamed: 0
> 0, Missing: 0 (0.0%)
zone_016_cooling_sp
> 1, Missing: 0 (0.0%)
zone_017_cooling_sp
> 2, Missing: 0 (0.0%)
zone_018_cooling_sp
> 3, Missing: 0 (0.0%)
zone_019_cooling_sp
> 4, Missing: 0 (0.0%)
zone_021_cooling_sp
> 5, Missing: 0 (0.0%)
zone_023_cooling_sp
> 6, Missing: 0 (0.0%)
zone_024_cooling_sp
> 7, Missing: 0 (0.0%)
zone_025_cooling_sp
> 8, Missing: 0 (0.0%)
zone_026_cooling_sp
> 9, Missing: 0 (0.0%)
zone_027_cooling_sp
> 10, Missing: 0 (0.0%)
zone_030_cooling_sp
> 11, Missing: 0 (0.0%)
zone_032_cooling_sp
> 12, Missing: 0 (0.0%)
zone_035_cooling_sp
> 13, Missing: 0 (0.0%)
zone_036_cooling_sp
> 14, Missing: 0 (0.0%)
zone_037_cooling_sp
> 15, Missing: 0 (0.0%)
zone_038_cooling_sp
> 16, Missing: 0 (0.0%)
zone_039_cooling_sp
> 17, Missing: 0 (0.0%)
zone_041_cooling_sp
> 18, Missing: 0 (0.0%)
zone_042_cooling_sp
> 19, Missing: 0 (0.0%)
zone_043_cooling_sp
> 20, Missing: 0 (0.0%)
zone_046_cooling_sp
> 21, Missing: 0 (0.0%)
zone_047_cooling_sp
> 22, Missing: 0 (0.0%)
zone_048_cooling_sp
> 23, Missing: 0 (0.0%)
zone_049_cooling_sp
> 24, Missing: 0 (0.0%)
zone_051_cooling_sp
> 25, Missing: 0 (0.0%)
zone_053_cooling_sp
> 26, Missing: 0 (0.0%)
zone_054_cooling_sp
> 27, Missing: 0 (0.0%)
zone_055_cooling_sp
> 28, Missing: 0 (0.0%)
zone_056_cooling_sp
> 29, Missing: 0 (0.0%)
zone_057_cooling_sp
> 30, Missing: 0 (0.0%)
zone_059_cooling_sp
> 31, Missing: 0 (0.0%)
zone_061_cooling_sp
> 32, Missing: 0 (0.0%)
zone_062_cooling_sp
> 33, Missing: 0 (0.0%)
zone_063_cooling_sp
> 34, Missing: 0 (0.0%)
zone_064_cooling_sp
> 35, Missing: 0 (0.0%)
zone_065_cooling_sp
> 36, Missing: 0 (0.0%)
zone_066_cooling_sp
> 37, Missing: 0 (0.0%)
zone_067_cooling_sp
> 38, Missing: 0 (0.0%)
zone_069_cooling_sp
> 39, Missing: 0 (0.0%)
zone_070_cooling_sp
> 40, Missing: 0 (0.0%)

                     missingrate   outrate  count_outgap  count_gap    maxgap
date                         0.0  0.000000             0          0       0.0
Unnamed: 0                   0.0  0.000000             2          2   28440.0
zone_016_cooling_sp          0.0  0.000000             4          2   28445.0
zone_017_cooling_sp          0.0  0.000000             6          2   28440.0
zone_018_cooling_sp          0.0  0.000000             8          2   28440.0
zone_019_cooling_sp          0.0  0.000000            11          3   28570.0
zone_021_cooling_sp          0.0  0.000000            13          2   28445.0
zone_023_cooling_sp          0.0  0.000000            16          3   28450.0
zone_024_cooling_sp          0.0  0.000000            19          3   28575.0
zone_025_cooling_sp          0.0  0.000000            22          3   28585.0
zone_026_cooling_sp          0.0  0.000000            24          2   28605.0
zone_027_cooling_sp          0.0  0.000000            27          3   28600.0
zone_030_cooling_sp          0.0  0.000000            30          3   28440.0
zone_032_cooling_sp          0.0  0.000000            33          3   28605.0
zone_035_cooling_sp          0.0  0.000000            35          2   28440.0
zone_036_cooling_sp          0.0  0.000000            37          2   28445.0
zone_037_cooling_sp          0.0  0.000000            39          2   28445.0
zone_038_cooling_sp          0.0  0.000000            42          3   28605.0
zone_039_cooling_sp          0.0  0.000000            45          3   28605.0
zone_041_cooling_sp          0.0  0.000000            47          2   28445.0
zone_042_cooling_sp          0.0  0.000000            49          2   28440.0
zone_043_cooling_sp          0.0  0.000000            51          2   28445.0
zone_046_cooling_sp          0.0  0.000074            54          3   28445.0
zone_047_cooling_sp          0.0  0.000000            57          3   28440.0
zone_048_cooling_sp          0.0  0.000000            60          3   28440.0
zone_049_cooling_sp          0.0  0.000000            64          4   28440.0
zone_051_cooling_sp          0.0  0.000000            67          3   28440.0
zone_053_cooling_sp          0.0  0.000707            70          3   28555.0
zone_054_cooling_sp          0.0  0.000000            72          2   28450.0
zone_055_cooling_sp          0.0  0.000000            75          3   28485.0
zone_056_cooling_sp          0.0  0.000000            78          3   28480.0
zone_057_cooling_sp          0.0  0.000000            81          3   28485.0
zone_059_cooling_sp          0.0  0.000000            84          3   28500.0
zone_061_cooling_sp          0.0  0.000000            88          4   28530.0
zone_062_cooling_sp          0.0  0.000000            90          2   28440.0
zone_063_cooling_sp          0.0  0.000000            93          3   28440.0
zone_064_cooling_sp          0.0  0.000000            96          3   28440.0
zone_065_cooling_sp          0.0  0.000000            98          2   28440.0
zone_066_cooling_sp          0.0  0.000000           101          3   28510.0
zone_067_cooling_sp          0.0  0.000000           104          3   28510.0
zone_069_cooling_sp          0.0  0.000000           107          3   28520.0
zone_070_cooling_sp          0.0  0.000000           108          1  292858.0

In [21]:
df = pd.read_csv('../data/ele.csv')

df['date'] = pd.to_datetime(df['date']) 
helper=pd.DataFrame({'date': pd.date_range(df['date'].min(), df['date'].max(), freq='15min')})
prueba = pd.merge(df, helper, on='date', how='outer').sort_values('date')
prueba.head()

                 date  mels_S  lig_S  mels_N     hvac_N     hvac_S
0 2018-01-01 01:00:00     1.2    0.2     7.5  37.400002  19.500000
1 2018-01-01 01:15:00     1.3    0.2     6.8  37.500000  19.889999
2 2018-01-01 01:30:00     1.1    0.2     7.4  38.000000  19.299999
3 2018-01-01 01:45:00     1.2    0.2     7.7  37.200001  18.889999
4 2018-01-01 02:00:00     1.1    0.2     7.3  37.400002  24.700001